[OSEv3:children]
masters
nodes
etcd
lb

[OSEv3:vars]

ansible_ssh_user='{{ ocpdeploy_ssh_user }}'
openshift_master_default_subdomain='{{ ocpdeploy_master_default_subdomain }}'
deployment_type='{{ ocpdeploy_deployment_type }}'

# Define the authentication method we will install
{% if ocpdeploy_auth_method == htpasswd %}

# htpasswd auth
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/ocpdeploy/htpasswd'}]

{% elseif ocpdeploy_auth_method == ldap %}

# LDAP auth
openshift_master_identity_providers=[{'name': '{{ ocpdeploy_ldap_provider_name }}', 'challenge': 'true', 'login': 'true', 'kind': 'LDAPPasswordIdentityProvider', 'attributes': {'id': ['dn'], 'email': ['mail'], 'name': ['cn'], 'preferredUsername': ['uid']}, 'bindDN': '{{ ocpdeploy_bind_dn }}', 'bindPassword': '{{ ocpdeploy_bind_password }}', 'ca': '{{ ocpdeploy_ca_crt_path }}', 'insecure': 'false', 'url': '{{ ocpdeploy_ldap_url }}'}]
# Configuring the ldap ca certificate
openshift_master_ldap_ca_file=/etc/ipa/ca.crt

{% else %}

# We will then default to the installer default

{% endif %}

os_firewall_use_firewalld=True

openshift_hosted_metrics_deploy=true
openshift_hosted_metrics_storage_kind=nfs
openshift_hosted_metrics_storage_access_modes=['ReadWriteOnce']
openshift_hosted_metrics_storage_host='{{ nfs_server_hostname }}'
openshift_hosted_metrics_storage_nfs_directory='{{ nfs_server_directory }}'
openshift_hosted_metrics_storage_volume_name='{{ nfs_server_metrics_volume }}'
openshift_hosted_metrics_storage_volume_size=10Gi

openshift_hosted_logging_deploy=true
openshift_hosted_logging_storage_kind=nfs
openshift_hosted_logging_storage_access_modes=['ReadWriteOnce']
openshift_hosted_logging_storage_host='{{ nfs_server_hostname }}'
openshift_hosted_logging_storage_nfs_directory='{{ nfs_server_directory }}'
openshift_hosted_logging_storage_volume_name='{{ nfs_server_logging_volume }}'
openshift_hosted_logging_storage_volume_size=10Gi

openshift_enable_service_catalog='{{ ocpdeploy_enable_service_catalog }}'

openshift_builddefaults_http_proxy='{{ ocpdeploy_http_proxy }}'
openshift_builddefaults_https_proxy='{{ ocpdeploy_https_proxy }}'
openshift_builddefaults_no_proxy='{{ ocpdeploy_no_proxy_domain_list }}'
openshift_builddefaults_git_http_proxy='{{ ocpdeploy_git_http_proxy }}'
openshift_builddefaults_git_https_proxy='{{ ocpdeploy_git_https_proxy }}'
openshift_builddefaults_git_no_proxy='{{ ocpdeploy_git_no_proxy_domain_list }}'

[masters]

{% for host in groups['openshift_masters'] %}
{{host}}
{% endfor %}
{% for host in groups['openshift_new_masters'] %}
{{host}}
{% endfor %}

[new_masters]

[nodes]

{% for host in groups['openshift_nodes'] %}
{{host}} openshift_node_labels="{'region': '{{ hostvars[host]['region'] }}', 'zone': '{{ hostvars[host]['zone'] }}' }" openshift_schedulable={{ hostvars[host]['schedulable'] }}
{% endfor %}
{% for host in groups['openshift_new_nodes'] %}
{{host}} openshift_node_labels="{'region': '{{ hostvars[host]['region'] }}', 'zone': '{{ hostvars[host]['zone'] }}' }" openshift_schedulable={{ hostvars[host]['schedulable'] }}
{% endfor %}

[new_nodes]

