# This is a sample jinja template
# variables designated using the \{\{ variable_name \}\}  syntax are replaced with
# values passed into the ansible environment or defined in the variables file or playbook

